<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  </head>
  <body>
 

<section class="section container">
  <div class="tile is-ancestor">
    <div class="tile is-parent is-vertical">
      <!--Navbar goes here (top tile) -->
      <div class="tile is-child section">
         <!--Navbar -->
        <h1 class="title">Shankar's Website</h1>
        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
          <!--navbar-brand -->
<!--           <div class="navbar-brand subtitle">
            <a href="#" class="navbar-item "><i class="fa fa-home" ></i> Home
            </a>
          </div> -->

          <div class="navbar-menu subtitle is-active">
            <a href="#" class="navbar-item ">  <i class="fa fa-home" >  </i> Home
            </a>
            <a href="#" class="navbar-item"> Writing</a>
            <a href="#" class="navbar-item"> Code</a>
          </div>
          

        </nav>

      </div>
      
      <!--Main body goes here (middle tile)-->
      <div class="tile is-child section">
        <div class="columns">

          <div class="column">
            MAIN BODY
          As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore . . . and this is exploration at its greatest.
          Here men from the planet Earth first set foot upon the Moon. July 1969 AD. We came in peace for all mankind.
          You know, being a test pilot isn't always the healthiest business in the world.
          For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us. I believe every human  width=100% height=auto has a finite number of heartbeats. I don't intend to waste                         
          </div>

          <div class="column">
            <img src="shankar_cover.jpg">
          </div>

        </div>
         
      </div>

      <!--Archives list goes here (bottom tile)-->
      <div class="tile is-child section">
        ARCHIVE LIST
        <p>
          As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore . . . and this is exploration at its greatest.
        Here men from the planet Earth first set foot upon the Moon. July 1969 AD. We came in peace for all mankind.
        You know, being a test pilot isn't always the healthiest business in the world.
        </p>
        <p>
          As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore . . . and this is exploration at its greatest.
        Here men from the planet Earth first set foot upon the Moon. July 1969 AD. We came in peace for all mankind.
        You know, being a test pilot isn't always the healthiest business in the world.
        </p>
        <p>
          As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore . . . and this is exploration at its greatest.
        Here men from the planet Earth first set foot upon the Moon. July 1969 AD. We came in peace for all mankind.
        You know, being a test pilot isn't always the healthiest business in the world.
        </p>
        

      </div>

    </div>
    
  </div>
</section>


  </body>
</html>