<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}  Shankar's Website</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{{ '/static/temp.css'|asseturl }}">
    <link rel="shortcut icon" href="{{ '/static/favicon.png'|asseturl }}">
<!--     <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/default/bulmaswatch.min.css"> -->
  </head>
  <body>
 

<section class="container content">
  <div class="tile is-ancestor ">
    <div class="tile is-parent is-vertical">
      <!--Navbar goes here (top tile) -->
      <div class="tile is-child section">
         <!--Navbar -->
        <h1 class="title"> <a href="{{ '/' | url}}">S.Shankar</a> </h1>
        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
          
          <div class="navbar-menu subtitle is-active">
            {%for href, title in [
                ['/', 'Home'],
                ['/blog', 'Blog'],
                ['/projects', 'Projects'],
                ['/about', 'About']
              ] %}
              <a href="{{href | url}}" class="navbar-item">{{title}}</a>
            {%endfor%}
          </div>
        </nav>
      </div>
    
    <div>
      {% block body %}{% endblock %}  
    </div>
    
          
    </div>

  </div>
</section>


  </body>
</html>